.jstree-container-ul>li>a>i.jstree-checkbox {
    display: none;
}

.invalid {
    background-color: #fdd8dd;
}

.bg-primary {
    background-color: #00589C !important;
}

.btn-primary {
    background-color: #00589C !important;
    border-color: #00589C !important;
}

/* Farbanpassung der aktiven Dropdown Items */
.dropdown-item.active,
.dropdown-item:active {
    background-color: #00589C;
}

.alert-info {
    color: #00589C;
    background-color: #cfe2ff;
    border-color: #b6d4fe;
    font-size: 1.1rem;
}

.footer-notes {
    font-size: 0.8rem;
    background-color: #b6d4fe;
    /* Transparenz des Hintergrunds */
    opacity: 0.6;
}

/* Feedback Button */
.feedback-button {
    z-index: 1000;
    font-size: 12px;
    transition: transform 0.5s ease-in-out;
}

@keyframes blink {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

.feedback-button.blink {
    animation: blink 2s infinite;
}

/* Upload Modal */
.drop-zone {
    border: 2px dashed #dee2e6;
    transition: border-color 0.3s ease;
}

.drop-zone.border-primary {
    border-color: #0d6efd;
    background-color: rgba(13, 110, 253, 0.1);
}

/* Drag & drop sort */
.drag-handle {
    cursor: move;
    color: #999;
}

.drag-handle .bi-grip-vertical {
    font-size: 24px;
}

.drag-handle:hover {
    color: #666;
}

[data-creator-row].ui-sortable-helper {
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}