.thesaurus-tagify .tagify__dropdown__item {
    font-size: 0.7rem !important;
    white-space: normal !important;
    height: min-content !important;
}

.tagify__input {
    margin: 1px 5px 5px 5px !important;
    font-size: 0.8rem;
    min-height: 3.5em !important;
}

/* For wrapping tags in new lines and filled tags */
.tagify {
    flex-wrap: wrap;
    --tag-inset-shadow-size: 200em;
    --placeholder-color: rgba(var(--bs-body-color-rgb), .65) !important;
    --placeholder-color-focus: rgba(var(--bs-body-color-rgb), .65) !important;
}

/* Prevents the help button from "growing" when invalid-feedback is displayed */
.input-group .input-group-append .input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: calc(3.5rem + calc(var(--bs-border-width) * 2)); /* Same height as class form-floating */
}

.input-right-no-round-corners {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-right-with-round-corners {
    border-top-right-radius: 0.375rem !important;
    border-bottom-right-radius: 0.375rem !important;
}

/* Spacing to all sides */
.card-body {
    padding: 1.0rem;
}

/* Spacing between input fields */
.card-body .row>[class*="col-"] {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

/* Spacing between accordion body */
.accordion-body {
    padding: 0.5rem;
}

/* Spacing between textarea and accordion */
.accordion-body .input-group {
    margin: 0;
}

/* Reset for Tagify container spacing */
.tagify {
    margin: 0;
}

/* Adjust padding for special uses (thesaurus input fields) */
.reduce-padding {
    padding: 0.5rem !important;
}